body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
  }
  
  .container {
    width: 420px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
  }
  
  .fileBox {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }